#hovedmenu .hovedmenubillede {
    border-radius: 150%;
    background-color: lightblue;
    width: 20vw;
    height: 20vw;
    /*    text-align: center;*/
}

#hovedmenu .hovedmenutekst {
    width: 20vw;
    height: 20vw;
}

#hovedmenu a {
    padding: 1vw;
}

#hovedmenu img {
    width: 15vw;
    height: 15vw;
    margin-top: 1.8vw;
}


.column {
    display: inline-block;
}

@media screen and (max-width:600px) {
    .column {
        display: block;
    }
}
