* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
    background-color: #839db7;
}

body {
    margin: 0;
}


/**** FONT TYPE ****/

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 5em;
    text-align: center;
    color: #d5d6e6;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

h3 {
    font-family: 'roboto condensed', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}


/**** BANNER ****/


/**** MENUER ****/

nav {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    background-color: cmyk(47%, 23%, 12%, 2%);
    color: #000000;
    padding: 20px 0px 20px 0;
    text-align: left;
}

nav a {
    display: inline-block;
    padding: 1px;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

nav a:hover {
    color: #FF4049;
}

.topmenucontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.topmenu {
    flex-basis: 100px;
    flex-grow: 0.5;
}

.shoppingcart {
    flex-basis: 100px;
    flex-grow: 4;
    padding: 5px;
    text-align: right;
}

.shoppingcart img {
    width: 3vw;
    min-width: 30px;
}


/**** OM ****/


/* VIDEO */


/**** REFILL ****/


/**** REFILL-BLÆK ****/

#blaek .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#blaek .column {}

#blaek .column img {
    min-width: 500px;
    padding: 5%;
}

@media screen and (orientation: portrait) and (max-width: 667px) {
    #blaek .sectionwrapper {
        display: block;
    }
}


/******media screen virker ikke endnu på refill blæk****/


/**** KOMPATIBEL ****/


/**** PRINTERVALG ****/
