* {
    box-sizing: border-box;
}

.wrapper {
    font-size: 1em;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.5vw;
}

.img {
    width: 100%;
}

body {
    margin: 0;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

/**** FONT TYPE ****/

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 5em;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
    color: #d5d6e6;
}

h3 {
    font-family: 'roboto condensed', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    letter-spacing: 1.2vw;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #d5d6e6;
}

/**** FONT FARVER **** VIRKER IKKE/

section#refill h1 {
    color: lightblue;
}


/**** BANNER ****/

.header {
    position: fixed;
    text-align: center;
    width: 100%;
}

.banner {
    /*    position: fixed;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    background-color: lightblue;
}

.banner a {
    text-decoration: none;
    width: 100%;
    display: flex;
}

.banner img {
    width: 17vw;
    height: 25vw;
}

.banner h1 {
    font-size: 7vw;
    align-self: center;
    text-align: left;
    margin: 0;
    width: 80%
}



/**** MENUER ****/

nav {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    background-color: cmyk(47%, 23%, 12%, 2%);
    color: #000000;
    text-align: left;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

nav a:hover {
    color: #FF4049;
}


/* TOPMENU */

.topmenucontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightblue;
    align-items: center;
}

.topmenu {
    flex-basis: 100px;
    flex-grow: 4;
}

.topmenu a {
    padding: 2vw;

}

.shoppingcart {
    flex-basis: 100px;
    flex-grow: 0.5;
    padding: 1vw;
    text-align: right;
}

.shoppingcart img {
    width: 6vw;
    min-width: 50px;
    padding: 0.7vw;
}

/* HOVEDMENU */

#hovedmenu {
    text-align: center;
}

#hovedmenu .column {
    display: inline-block;
    padding: 1vw;
}




#hovedmenu .hovedmenubillede {
    border-radius: 150%;
    background-color: lightblue;
    width: 30vw;
    height: 30vw;
}

#hovedmenu .hovedmenutekst {}

#hovedmenu img {
    width: 20vw;
    height: 20vw;
    margin: 5vw;
}


/**** OM ****/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#om .column_narrow {
    flex-basis: 500px;
    padding: 5%;
    flex-grow: 1;
}


/* VIDEO */

#om .column_wide {
    flex-basis: 500px;
    padding: 5%;
    flex-grow: 1;
}


/**** REFILL ****/

#refill {
    text-align: center;

}

#refill .column {
    display: inline-block;
    padding: 1vw;
}




#refill .refillbillede {
    border-radius: 150%;
    background-color: lightblue;
    width: 30vw;
    height: 30vw;
}

#refill .refilltekst {}


#refill img {
    width: 20vw;
    height: 20vw;
    margin: 5vw;
}

/**** REFILL-BLÆK ****/

#blaek {
    text-align: center;
}

#blaek .column {
    display: inline-block;
    padding: 1vw;
}




#blaek .blaekbillede {
    border-radius: 150%;
    background-color: lightblue;
    width: 30vw;
    height: 30vw;
}

#blaek .blaektekst {}

#blaek .smallbottle {
    margin-top: 11vw;
    /*    width: 15vw;*/
    height: 15vw;
}

#blaek .mediumbottle {
    margin-top: 7vw;
    /*    width: 15vw;*/
    height: 19vw;
}

#blaek .largebottle {
    margin-top: 3vw;
    /*    width: 15vw;*/
    height: 23vw;
}


/**** KOMPATIBEL ****/

#kompatibel {
    text-align: center;
}

#kompatibel .column {
    display: inline-block;
    padding: 1vw;
}




#kompatibel .kompatibelbillede {
    border-radius: 150%;
    background-color: lightblue;
    width: 30vw;
    height: 30vw;
}

#kompatibel .kompatibeltekst {}

#kompatibel img {
    width: 20vw;
    height: 20vw;
    margin: 5vw;
}



/**** REFILL + KOMPATIBEL + PRINTERVALG ****/

#kompatibel,
#refill,
#printervalg {
    text-align: center;
}

#kompatibel .column,
#refill .column,
#printervalg .column {
    display: inline-block;
    padding: 1vw;
}

#kompatibel .kompatibelbillede,
#refill .refillbillede,
#printervalg .printervalgbillede {
    border-radius: 150%;
    background-color: lightblue;
    width: 30vw;
    height: 30vw;
}

#printervalg .printervalgtekst {}

#kompatibel img,
#refill img,
#printervalg img {
    width: 20vw;
    height: 20vw;
    margin: 5vw;
}

/**** MEDIA QUERIES ****/

/*HOVEDMENU*/

@media screen and (max-width: 800px) {
    #hovedmenu .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hovedmenu .hovedmenubillede {
        display: flex;
        width: 50vw;
        height: 50vw;
    }


    #hovedmenu img {
        width: 40vw;
        height: 40vw;
    }

    #hovedmenu .hovedmenutekst {
        text-align: center;
    }

    #hovedmenu .hovedmenutekst h2 {
        font-size: 1.5em;
    }

}

/*BLAEK*/

@media screen and (max-width: 800px) {
    #blaek .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #blaek .blaekbillede {
        display: flex;
        width: 50vw;
        height: 50vw;
        justify-content: center;
    }

    #blaek .smallbottle {
        margin-top: 17vw;
        height: 27vw;
    }

    #blaek .mediumbottle {
        margin-top: 8vw;
        height: 37vw;
    }

    #blaek .largebottle {
        margin-top: 3.5vw;
        height: 42vw;
    }


    #blaek .blaektekst {
        text-align: center;
    }

    #blaek .blaektekst h2 {
        font-size: 1.5em;
    }

}

/*PRINTERVALG + KOMPATIBEL + REFILL */

@media screen and (max-width: 800px) {
    #printervalg .column,
    #kompatibel .column,
    #refill .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #printervalg .printervalgbillede,
    #kompatibel .kompatibelbillede,
    #refill .refillbillede {
        display: flex;
        width: 50vw;
        height: 50vw;
    }


    #printervalg img,
    #kompatibel img,
    #refill img {
        width: 40vw;
        height: 40vw;
    }

    #printervalg .printervalgtekst,
    #kompatibel .kompatibeltekst,
    #refill .refilltekst {
        text-align: center;
    }

    #printervalg .printervalgtekst h2,
    #kompatibel .kompatibeltekst h2,
    #refill .refilltekst h2 {
        font-size: 1.5em;
    }

}
