* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
}

/**** FONT TYPE ****/

/**** BANNER ****/

/**** MENUER ****/

/**** OM ****/

/* VIDEO */

/**** REFILL ****/

/**** REFILL-BLÆK ****/

/**** KOMPATIBEL ****/

/**** PRINTERVALG ****/
